
// Taken from: https://github.com/grawert/ansible-jenkins-ci/blob/master/templates/add-slave-node-to-jenkins.groovy.j2

import jenkins.model.*
import hudson.model.*
import hudson.slaves.*

{% for host in groups['jenkins_builders'] %}
Jenkins.instance.addNode(
new DumbSlave("{{host}}","", "{{jenkins_home}}", "1",
              Node.Mode.EXCLUSIVE, "{{hostvars[host]}}",
              new JNLPLauncher(), new RetentionStrategy.Always(),
              new ArrayList())
)
{% endfor %}
